# Build system artifacts
stamp-h1
autom4te.cache
libtool
configure
Makefile
Makefile.in
config.*
install-sh
missing
depcomp
compile
aclocal.m4

# Compiled files
*.lo
*.o
*.lo

# Metrics, etc
lcov/
*.gcda
*.gcno
*.la
.deps/
.dirstamp
.libs/
*~
core

# OS X
.DS_Store?

Makefile.am

config/ltmain.sh

Makefile.am

config/pandora-plugin.ac

config/pandora-plugin.ac

config/pandora-plugin.am

config/pandora-plugin.list

config/pandora_vc_revinfo

config/plugin.stamp

config/top.h

docs/doxygen/header.html

examples/complete_loop

m4/libtool.m4

m4/ltoptions.m4

m4/ltsugar.m4

m4/ltversion.m4

m4/lt~obsolete.m4

support/libburrow.pc

support/libburrow.spec

tests/burrow_attributes_st

tests/burrow_backend_dummy

tests/burrow_backend_http

tests/burrow_backend_memory

tests/burrow_filters_st

tests/burrow_st

Makefile.am

.gitignore
